.BenefitsMainContainer{
    background-color: #000;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3rem 0;
    h5{
        margin: 2rem 0;
    }
    img{
        width: 20%;
        filter: invert(1);
        mix-blend-mode: lighten;
    }

}